@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 8px;
  border: none;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #818BF5; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #707bf8; 
}

